.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}
header{
    background-image: url("../Assets/Hero-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 698px;
    margin-top: -10px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1140px;
    margin: 0 200px;
}

nav h3{
    font-family: Arial, Helvetica, sans-serif;
    color: #4E47FF;
    font-size: 34px;
    font-weight: 800;
}

.button-style{
    font-size: 16px;
    background-color: #4E47FF;
    color: white;
    padding: 12px 36px;
    border:none;
    border-radius: 10px;
}

p{
    font-size: 65px;
}
section{
    text-align: center;
    margin: 0 auto;
    width: 905px;
    height: 237px;
    padding: 20px;
}
body{
    max-width: 1440px;
}